<!DOCTYPE html>
<html lang="en">
<head>
    <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;400;600;800&family=Poppins&display=swap"
    rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Resumen </title>
</head>
<body class="font-[Poppins] text-white bg-[#2e3649]">
    
    <header>
       <nav class="flex justify-center items-center h-[14vh]">
            <div>
                <img class="w-48 mt-5" src="./static/image/LogoNav.png" alt="">
            </div>
       </nav> 
    </header>
    
    <main>
        <section class="flex flex-col h-[86vh] items-center">
            
            <!-- RESUMEN DE ACTIVIDAD -->
            <div class="my-5 flex text-3xl justify-center">
                <h3>
                    Resumen de Actividad
                </h3>
            </div>

            <div class="w-[60%] h-[62%] flex flex-col items-center">
                    <!-- HORAS -->
                    <div  class="flex items-center w-[70%] h-[12vh] border-b-2 border-[#09cb74] my-6">
                        <img class="w-12" src="./static/reloj.png" alt="">
                        <p class="ml-5">
                            20 minutos activo
                        </p>
                    </div>

                    <!-- CALORIAS -->
                    <div  class="flex items-center w-[70%] h-[12vh] border-b-2 border-[#09cb74] my-6">
                        <img class="w-14" src="./static/kcal.png" alt="">
                        <p class="ml-5">
                            5200 kcal
                        </p>
                    </div>
    
                    <!-- KILOMETROS -->
                    <div  class="flex items-center w-[70%] h-[12vh] border-b-2 border-[#09cb74] mt-6">
                        <img class="w-14" src="./static/km.png" alt="">
                        <p class="ml-5">
                            8.7 km
                        </p>ss
                    </div>
            </div>
            <div class="flex flex-col mt-10">
              <a href="/">
                <button type="submit" class="text-xl text-[#2e3649] font-[Poppins] bg-[#0acc73] hover:bg-       [#0acc73] h-12 w-40 rounded-full hover:text-white">
                  Volver
                </button>
              </a>
              </div>
        </section>
    </main>

</body>
</html>